<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/Stylesheets/style.css">
</head>
<body>
    <div class="container">
        <form action="/login" method="post">
            <h2>Login to Your account</h2>
            <input type="email" name="email" id="#email" placeholder="Enter Your Email">
            <input type="password" name="password" id="#pass" placeholder="Enter your Password">
            <input type="submit" value="Login" class="signup">
            <p>Don't have an account!! <a href="/">Register</a></p>
        </form>
    </div>
</body>
</html>